[Unit]
Description=clever-show failsafe service
Requires=roscore.service
After=network.target

[Service]
User=pi
WorkingDirectory=/home/pi/clever-show/drone
ExecStart=/bin/bash -c ". /home/pi/catkin_ws/devel/setup.sh; \
                      ROS_HOSTNAME=`hostname`.local /usr/bin/python /home/pi/clever-show/drone/failsafe.py"
Restart=on-failure
RestartSec=3

[Install]
WantedBy=multi-user.target
