[submodule "Drone/FlightLib"]
	path = Drone/FlightLib
	url = git://github.com/artem30801/CleverFlightLib.git
[submodule "blender-csv-animation"]
	path = blender-csv-animation
	url = https://github.com/artem30801/blender-csv-animation
