# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Logs
*.log

# IDE
.mypy_cache/
.vscode/settings.json
.vscode/
\.idea/

# Development
images/
Server/tests.py
Server/convert_ui.sh
Server/server_logs
Server/testj\.ipynb
Server/tst_client\.py
Server/tst\.py
Drone/test_animation/
Drone/animation.csv
Drone/client_logs
Drone/_copter_client_old_\.py
Drone/test_cl\.py
