# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Logs
*.log

# IDE
.mypy_cache/
.vscode/settings.json
.vscode/
\.idea/

# Development
images/
show-env/
builder/clever-config

server/tests.py
server/test
server/server_venv
server/convert_ui.sh
server/config/server.ini
server/server_logs
server/testj\.ipynb
server/tst_client\.py
server/tst\.py

drone/test_animation/
drone/test
drone/drone_venv
drone/animation.csv
drone/client_logs
drone/config/client.ini
drone/_copter_client_old_\.py
drone/test_cl\.py

venv/
dist/
build/