<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Clever Show </title>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/ply.css">
    <link rel="stylesheet" href="/static/css/tabulator.min.css">
    <link rel="stylesheet" href="/static/css/spinner.css">
    <link rel="stylesheet" href="/static/css/main.css">
    <script lang="js" src="/static/js/jquery.min.js"></script>
    <script lang="js" src="/static/js/popper.min.js"></script>
    <script lang="js" src="/static/js/bootstrap.min.js"></script>
    <!--<script lang="js" src="/static/js/ply.js"></script>-->
    <script lang="js" src="/static/js/tabulator.min.js"></script>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top"
     style=" width: 100%; display: flex; flex-direction: row; justify-content: space-between;">
    <a href="" class="navbar-brand">Clever Show</a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    Actions
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <div class="dropdown-item">
                        <label for="animationFile" class="btn">Set animation</label>
                        <input accept=".csv" id="animationFile" style="visibility:hidden;" type="file">
                    </div>
                    <div class="dropdown-item">
                        <label for="configFile" class="btn">Set configuration</label>
                        <input id="configFile" style="visibility:hidden;" type="file">
                    </div>
                    <div class="dropdown-item">
                        <label for="arucoFile" class="btn">Set ArUco map</label>
                        <input accept=".txt" id="arucoFile" style="visibility:hidden;" type="file">
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <div style="display: none;" id="spinner" class="lds-spinner">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>
</nav>
<div class="my-container">
    <div class="table-container">
        <div id="copters-table"></div>
    </div>
    <div class="command-container">
        <div class="action-container">
            <div class="btn-group">
                <button type="button" class="btn btn-primary btn-lg" onclick="selectAll()">Select all
                </button>
                <button type="button" class="btn btn-secondary btn-lg" onclick="deselectAll()">Deselect all</button>
            </div>
            <div class="btn-group">
                <button type="button" class="btn btn-info btn-lg" onclick="refreshSelected()">Selfcheck</button>
                <button type="button" class="btn btn-info btn-lg" onclick="testLedSelected()">Test led</button>
            </div>
            <div class="btn-group">
                <input id="delay" class="form-control form-control-lg" type="number" onchange="setStartTime()"
                       placeholder="Delay">
                <button type="button" class="btn btn-success btn-lg" onclick="startAnimation()">Start animation</button>
            </div>
            <div class="btn-group">
                <button type="button" class="btn btn-warning btn-lg" onclick="pauseCopters()">Pause</button>
                <button type="button" class="btn btn-warning btn-lg" onclick="resumeCopters()">Resume</button>
                <button type="button" class="btn btn-warning btn-lg" onclick="stopCopters()">Stop</button>
            </div>
            <div class="btn-group">
                <button type="button" class="btn btn-danger btn-lg" onclick="emLand()">Emergency landing</button>
            </div>
            <div class="btn-group">
                <button type="button" class="btn btn-outline-primary btn-lg" onclick="takeOff()">Take off</button>
                <button type="button" class="btn btn-outline-primary btn-lg" onclick="flipCopters()">Flip</button>
            </div>
            <div class="btn-group">
                <button type="button" class="btn btn-outline-primary btn-lg" onclick="land()">Land</button>
                <button type="button" class="btn btn-outline-primary btn-lg" onclick="disarm()">Disarm</button>
            </div>
            <div class="btn-group">
                <button type="button" class="btn btn-outline-primary btn-lg" onclick="restart_fcu()">Restart FCU</button>
                <button type="button" class="btn btn-outline-primary btn-lg" onclick="calibrate_gyro()">Calibrate gyro</button>
                <button type="button" class="btn btn-outline-primary btn-lg" onclick="calibrate_level()">Calibrate level</button>
            </div>
        </div>
        <div class="action-container"></div>
    </div>
    <script lang="js" src="/static/js/main.js"></script>
    <script lang="js" src="/static/js/file.js"></script>
</div>
</body>
</html>